<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\temp\TIHv3.log"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="14" />
      <maximumFileSize value="10000KB" />
      <datePattern value="yyyy-MM-dd'.txt'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>
  <!--appSettings/-->
  <appSettings>
    <add key="traceSOAP" value="false"/>
    <add key="traceDirectory" value="C:\temp\logs\SOAP\"/>
  </appSettings>

  <!--<system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  
  </system.web>-->
  <system.webServer/>
  <system.serviceModel>
    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="true" maxMessagesToLog="2147483647" maxSizeOfMessageToLog="2147483647"/>
    </diagnostics>
    <extensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding" type="SubscriberWebService.GZipEncoder.GZipMessageEncodingElement, GZipEncoder, Version=4.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttp" maxReceivedMessageSize="52428800" maxBufferSize="52428800" maxBufferPoolSize="52428800"></binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="b1">
          <gzipMessageEncoding innerMessageEncoding="textMessageEncoding"/>
          <httpTransport maxReceivedMessageSize="52428800" maxBufferSize="52428800" maxBufferPoolSize="52428800"/>
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="SubscriberWebService.WebServiceSubscriber" behaviorConfiguration="">
        <!-- Disable Compression -->
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="basicHttp" contract="supplierPushInterface"/>
        <!-- End of Disable Compression -->
        <!-- Enable Compression -->
        <!-- <endpoint address="" binding="customBinding" bindingConfiguration="b1" contract="supplierPushInterface"/> -->
        <!-- End of Enable Compression -->
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
  </system.serviceModel>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="servicelog.svclog"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="All">
        <listeners>
          <add name="sdt2" type="System.Diagnostics.XmlWriterTraceListener" initializeData="messagelog.svclog"/>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true"/>
  </system.diagnostics>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>
